body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
  
  /* Estilos do chat */
  .chat-container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .chat-header {
    background-color: #080808;
    color: #fff;
    padding: 1px;
    text-align: center;
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
  }
  
  .chat-messages {
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
  }
  
  .message {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .atendente-message {
    background-color: #f3f3f3;
    text-align: left;
  }
  
  .user-message {
    background-color: #e2f7fe;
    text-align: right;
  }
  
  .input-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
  }
  
  .input-field {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .send-button {
    background-color: #080808;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }